:root {
  --figure-toolbar-height: 36px;
  --figure-toolbar-overlap: 4px;
  --figure-toolbar-gap: 3px;

  --figure-toolbar-border-color: #020202;
  --figure-toolbar-muted-color: #999999;
}

// Reset button behavior
#figure-toolbar {
  button {
    color: inherit;
    background: none;
    border: none;
    padding: 0;
    cursor: inherit;

    svg {
      pointer-events: none;
    }

    &:focus {
      outline: none;
    }
  }
}

#figure-toolbar {
  position: fixed;
  display: flex;
  height: var(--figure-toolbar-height);

  padding: 0 6px;
  align-items: center;
  gap: var(--figure-toolbar-gap);

  box-sizing: border-box;
  border: 1px solid currentColor;
  border-radius: 8px;

  color: var(--figure-toolbar-border-color);
  background-color: var(--toolbar-background-color);

  .figure-sub-item {
    display: flex;
    width: 26px;
    height: 26px;

    align-items: center;
    justify-content: center;

    cursor: pointer;

    button {
      svg {
        display: block;
        width: 20px;
        height: 20px;
      }

      &.toolbar__delete-button {
        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  .toolbar__width-picker,
  .toolbar__color-picker {
    display: flex;
    width: 20px;
    height: 20px;

    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    border: 1px solid currentColor;
    border-radius: 4px;
  }

  .toolbar__width-picker {
    div {
      pointer-events: none;
      height: 13px;

      background-color: currentColor;
      transform: rotate(45deg);
    }

    &.thin { div { width: 2px; }}
    &.light { div { width: 3px; }}
    &.medium { div { width: 5px; }}
    &.bold { div { width: 6px; }}
  }

  .toolbar__color-picker {
    background-color: var(--picker-color);

    &.color-rainbow {
      background-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
    }
  }

  .figure-sub-cross-line {
    width: 1px;
    height: 20px;
    margin: 0 var(--figure-toolbar-gap);

    background-color: currentColor;
    cursor: default;
  }

  .figure-sub-toolbar {
    position: absolute;
    display: flex;
    height: var(--figure-toolbar-height);

    left: 50%;
    transform: translateX(-50%);

    padding: 0 calc(var(--figure-toolbar-gap) * 2);
    align-items: center;
    gap: var(--figure-toolbar-gap);

    box-sizing: border-box;
    border: 1px solid currentColor;
    border-radius: 8px;

    background-color: var(--toolbar-background-color);
  }
}

// Open Sub Menu
#figure-toolbar {
  .figure-sub-item {
    position: relative;

    .figure-sub-toolbar {
      top: 100%;
    }

    &.figure-sub-item--toolbar-centered {
      position: static;

      .figure-sub-toolbar {
        top: calc(100% - var(--figure-toolbar-overlap));
      }
    }
  }

  &.above-figure {
    .figure-sub-item {
      .figure-sub-toolbar {
        top: auto;
        bottom: 100%;
      }

      &.figure-sub-item--toolbar-centered {
        .figure-sub-toolbar {
          bottom: calc(100% - var(--figure-toolbar-overlap));
        }
      }
    }
  }
}

// Mute Figure Toolbar while Sub Menu is open
#figure-toolbar {
  &.submenu-open {
    color: var(--figure-toolbar-muted-color);

    .figure-sub-item {
      .toolbar__color-picker {
        background-color: color-mix(in srgb, var(--picker-color) 50%, transparent);

        &.color-rainbow {
          background-image:
            linear-gradient(rgb(255 255 255 / 50%), rgb(255 255 255 / 50%)),
            conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
        }
      }

      &.active {
        color: var(--figure-toolbar-border-color);

        .toolbar__color-picker {
          background-color: var(--picker-color);

          &.color-rainbow {
            background-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
          }
        }
      }
    }
  }
}
