#contentEditable {
  position: fixed;
  // top: 0;
  // left: 0;
  line-height: var(--line-height-multiplier);
  font-family: 'Excalifont';
  min-width: 1px;
  display: inline-block;

  white-space: pre;

  outline: none;
  background: transparent;
  padding: 0;
  margin: 0;
  overflow: hidden; // Select Text issue

  &.fixed-width {
    white-space: pre-wrap;
    overflow-wrap: anywhere;

    outline: 1px dashed var(--dot-border-color);
    outline-offset: var(--dot-text-margin);
  }

  // FOR DEV: Обведення прямокутника
  // border: 1px dashed green;
}
